.social {
    text-align: center;
}

.pb-3,
.py-3 {
    padding-bottom: 1rem!important;
}

.pt-3,
.py-3 {
    padding-top: 1rem!important;
}

.yif-logo {
    width: 20%;
    float: left;
}

.footer {
    background-color: #000;
    align-items: center;
    text-align: center;
    float: bottom;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoinstagram:hover {
    background-color: #8a3ab9;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #D3D3D3;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    background: #ffffff;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.navbar-brand {
    height: 50px;
    padding: 15px 200px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.login {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: right;
    font-family: consolas;
}

.login a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: orange;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: px;
    overflow: hidden;
    transition: 0.2s;
    background: #ffffff;
}


/*.login a:hover {
    color: #255784;
    background: #2196f3;
    /*box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}*/

.login a span {
    position: absolute;
    display: block;
}

.login a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, orange);
}

.login a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.login a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, orange);
}

.login a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.login a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, orange);
}

.login a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.login a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, orange);
}

.login a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("1.jpeg");
    background: #1c92d2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f2fcfe, #1c92d2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f2fcfe, #1c92d2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bttn a {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    background: #FF5F6D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFC371, #FF5F6D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFC371, #FF5F6D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bttn a:nth-child(2) {
    background: #EECDA3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EF629F, #EECDA3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EF629F, #EECDA3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bttn span {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}